.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

button, .margin-left {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.clipbord-box {
    border: 1px solid #2AA759;
    width: 300px;
    margin-bottom: 5px;
}

.remove-margin {
    margin-left: unset !important;
}

.retirada-input {
    width: 140px;
    height: 33px;
    border: 1px solid green;
    border-radius: 4px;
    margin-top: 12px;
    padding-left: 10px;
}

.historico-input {
    height: 33px;
    border: 1px solid green;
    border-radius: 4px;
    margin-left: 5px;
}

.active-custom a {
    background: #2aa559 !important;
    border-color: #2aa559 !important;
}
